[2017-04-04 05:54] daitd58 opened #1 "The template doesn't disappear when the navigate component"
Hi @tsv2013, I have an issue with the survey block. I see the survey library generate html dom out of current component so when the component is navigated the survey block doesn't disappear. Any advice? Thanks.

[2017-04-04 07:43] tsv2013 commented on #1
@daitd58 Could you specify what do you mean? Can you give me your survey json or exact steps to reproduce wrong behaviour in this project?

[2017-04-04 08:00] daitd58 commented on #1
@tsv2013 I view the survey template using the editor text. I have component ViewSurvey when I navigate to it which display the survey template but when I navigate to others component the survey template still display. And I see the survey html dom is out of ViewSurvey tag so when the ViewSurvey tag disappear but the survey template doesn't..

[2017-04-04 08:06] tsv2013 commented on #1
@daitd58 Can you give me an example to reproduce the issue? Or link to your repo? I would like to see your page layout (markup).
You can just place Survey tag to any other place of your markup which will be hidden in case of navigation to other view.

[2017-04-04 08:15] daitd58 commented on #1
@tsv2013 you can view it on this repo: https://github.com/daitd58/surveyApp. I have component ViewTemplatePage. Thanks.

[2017-04-04 12:25] tsv2013 commented on #1
@daitd58 ok, i'll check it.

[2017-04-04 12:28] daitd58 commented on #1
Thanks.

[2017-04-04 18:27] daitd58 commented on #1
@tsv2013 Did you check it?

[2017-04-05 02:22] wohugb opened #2 "after install when run show this error"
[code]

[2017-04-05 05:52] tsv2013 commented on #2
I have cloned this repo in a new folder:
`git clone https://github.com/surveyjs/surveyjs_angular_cli.git`
run
`npm i`
 and then
`npm start`
and it works for me on "http://localhost:4200/".

What are your steps to reproduce the issue?

[2017-04-05 05:55] tsv2013 commented on #1
@daitd58 Not yet. Cloning your repo right now.

[2017-04-05 06:46] daitd58 commented on #1
@tsv2013 thanks. Hope you can give me some advice.

[2017-04-05 06:51] tsv2013 commented on #1
@daitd58 Ran your project. Did the following steps:
1. Clicked on "Surveys" -> empty surveys list is shown
2. Clicked on "Create New" -> choose "From Blank Survey" -> SurveyJS editor is shown
3. Filled "Title" field, droped checkbox, clicked "Save Survey" -> hothing happened
4. Clicked on "Surveys" -> empty surveys list is shown

Could you tell me what steps should I perform to reproduce the issue

[2017-04-05 06:54] daitd58 commented on #1
Hi, you can make an example survey on any component. And It still display on other component. Such as: make example survey on ViewSurveyPage and that survey still display on other component like ListSurveyPage....

[2017-04-05 07:10] tsv2013 commented on #1
@daitd58  How can I navigate to the ViewSurveyPage? What url should I type?

[2017-04-05 07:14] daitd58 commented on #1
@tsv2013 You can click on icon eye in the list survey

[2017-04-05 07:15] tsv2013 commented on #1
@daitd58  If I navigate to "/survey/view", I get the error:

[2017-04-05 07:16] tsv2013 commented on #1
@daitd58  Where can I find the eye icon? Surveys list is always empty. Even after I click "Save Survey" in the editor:
![image](https://cloud.githubusercontent.com/assets/3013415/24693990/d2ae8374-19e8-11e7-8464-bc2cfbecb79e.png)

[2017-04-05 07:17] daitd58 commented on #1
For simple. You can make an example survey on TemplateComponent and navigate to SurveyComponent and see what happen. I mean the survey still display when you navigate to other component.

[2017-04-05 10:53] daitd58 commented on #1
@tsv2013 Any news? Thanks.

[2017-04-05 10:55] tsv2013 commented on #1
@daitd58 Triyng to follow your instructions :)

[2017-04-05 11:10] daitd58 commented on #1
@tsv2013 I see the survey lib generate HTML DOM out of current component tag so when the component disappear but the survey HTML doesn't. :)

[2017-04-05 11:12] tsv2013 commented on #1
@daitd58  I've added sample survey to the Surveys list page and then navigate to another page, survey markup goes away. I can fork your repo and create a pull request. Or you can inspect my fork. What will be more convinient for you?

[2017-04-05 11:32] tsv2013 commented on #1
@daitd58 You can check the https://github.com/tsv2013/surveyApp/commit/25a6f3548d5ccc97fa4e8a14126e981d92da7ca3 commit. Survey is visible on "surveys list" page, but invisible on other pages.

[2017-04-05 11:35] daitd58 commented on #1
@tsv2013 I will check it.

[2017-04-20 17:03] kutaibah opened #3 "keep recompiling"
after install it keeps recompiling ?

[2017-04-20 19:45] tsv2013 commented on #3
Unfortunately, no. I'll take a look.

[2017-04-20 20:00] tsv2013 commented on #3
I've added some dependencies in the 31a4518b84358cf07bf1a010ebf6b203e95d70b4 commit. After reinstalling node modeules it works ok for me. @kutaibah  Can you check it?

[2017-04-21 13:03] kutaibah commented on #3
sorry but it still with the same issue

the steps:
1- git clone https://github.com/surveyjs/surveyjs_angular_cli my_project
2- cd my_project && npm install
3- npm start or ng serve

it keeps recompiling around 10 times

[2017-04-21 13:31] kutaibah commented on #3
Solved!
the problem was old node version

thanks for support @tsv2013

[2017-04-21 13:32] tsv2013 commented on #3
Excellent!

[2017-04-21 13:32] #3 closed

[2017-04-21 13:33] tsv2013 commented on #3
@kutaibah Please feel free to contact us!

[2017-05-11 12:17] starday commented on #2
node_modules/surveyjs-editor/surveyeditor.d.ts (141,18): Cannot find name 'KnockoutObservable'.
what could be wrong?

[2017-05-11 13:39] tsv2013 commented on #2
@starday  Do you have the "surveyjs_angular_cli\node_modules\@types\knockout\" folder afer "npm i" command? If no, you can install it vua "npm i @types/knockout" command.

[2017-05-15 17:05] starday commented on #2
@tsv2013 thanks for your response for still have the issue after running npm install @types/knockout

[2017-05-15 17:13] tsv2013 commented on #2
@starday Can you try `npm i @types/knockout`?

[2017-05-16 06:19] tsv2013 commented on #2
@starday Do you have the "surveyjs_angular_cli\node_modules\@types\knockout" folder afer "npm i" command?

[2017-05-16 07:14] starday commented on #2
@tsv2013 yes i do have \node_modules@types\knockout. I don't know if it could be because am running it against angular 4 app.

[2017-05-16 08:20] tsv2013 commented on #2
@starday I have `@angular/cli@1.0.0` installed globally. And "version": "4.1.2" of "name": "@angular/core" package.

[2017-05-22 11:24] rjcorwin commented on #2
This looks like a problem purely with the `surveyjs-editor` package. All you have to do is include it and it tries to use some exported classes from its `survey-knockout` package dependency that this dependency doesn't actual declare or export.

VSCode warning us there is nothing named KnockoutObservable.
<img width="1280" alt="screen shot 2017-05-22 at 7 15 52 am" src="https://cloud.githubusercon

[2017-05-22 11:46] rjcorwin commented on #2
Looking through the commits on this repository I see that `knockout` needs to be added to the the `types` array in `app/tsconfig.app.ts`.

<img width="914" alt="screen shot 2017-05-22 at 7 44 43 am" src="https://cloud.githubusercontent.com/assets/156575/26307452/a2059a7e-3ec2-11e7-8463-303ad7c58717.png">

That was my missing step as I'm building this from scratch and that direction is not in the R

[2017-05-22 11:59] tsv2013 commented on #2
@rjsteinert Yes, I've missed this step in the README. Thank you for your help! I'll update the README. I 'd like to ask you - what is if you just clone this repo and run `npm start` after `npm i`? Because I tried exact this scenario and have not managed to reproduce the compilation error.

[2017-05-22 12:03] tsv2013 commented on #2
@rjsteinert I've updated README. Thank you again.

[2017-05-23 07:03] #1 closed

[2017-12-21 23:53] meetgaurang commented on #2
Thanks @rjsteinert!

[2018-01-16 06:25] #2 closed

[2018-01-19 18:46] wollerman opened #5 "Boilerplate makes constant calls to `http://localhost:4200/undefined`"
I cloned this repo and ran it locally on port 4200 by doing the following:
[code]
Checking the dev console I see constant calls to `http://localhost:4200/undefined`

[2018-01-22 06:22] tsv2013 commented on #5
@wollerman I can't reproduce it. All works like a charm. What's your Angular CLI version?

[2018-01-22 16:46] wollerman commented on #5
Here's the full output of `ng --version`:
[code]

Looking at the `package.json` it specifies `1.0.0` which is why I get that warning about global vs local.

[2018-01-22 16:48] wollerman commented on #5
I started up the project with `ng serve` and then opened chrome devtools and see:
![image](https://user-images.githubusercontent.com/1610241/35232694-026ecee0-ff51-11e7-8cb4-377c84c81eab.png)

It seems to think it's an image of some kind?

[2018-01-22 17:25] ShadowFoOrm commented on #5
I m having the same problem `http://localhost:4200/undefined` but I get an extra error in Console.
![image](https://user-images.githubusercontent.com/13979327/35234498-3f2e795a-ff99-11e7-88e4-d4e2fef0b17c.png)

[2018-01-23 06:50] #5 closed

[2018-01-23 07:04] tsv2013 commented on #5
I've fixed "undefined" request from signature pad custom widget and updated package versions.

[2018-01-23 16:21] wollerman commented on #5
Thanks for all the quick fixes!

[2018-01-31 09:30] riginoommen opened #6 "Please Elaborate the steps 4 in WIKI"
* Add SurveyJS and Editor components files.
 where we should add the files

[2018-01-31 12:04] tsv2013 commented on #6
If you creating your own application, this is up to you - you can put prepared components in the appropriate folder of your project.

If you want to start this demo application, you should:
 - clone this repo
 - make the repo folder your current folder
 - run `npm i`
 - run `ng serve`

[2018-03-19 13:50] vitortk8 opened #8 "Save the results of a survey"
Hello,

I am new to the surveyjs

Can you help me on how to save the results of a survey in a JSON file for example

Thanks in Advance

Vítor Costa

[2018-04-27 06:24] bramson commented on #8
I also have this question.  In your examples you show how to print the resulting JSON to the screen, but I don't know how to simply save them to a file (e.g. in the directory where the webpage with the survey is located).

[2018-04-27 06:31] tsv2013 commented on #8
@vitortk8 Sorry, I lost this question.
SurveyJS library works in a browser.
The question is out of SurveyJS library scope.
I've googled the "javascript save file from a browser"
And the first link looks good for me - https://stackoverflow.com/questions/13405129/javascript-create-and-save-file
Hope, this helps

[2018-05-17 10:45] mkgn opened #9 "continuousNodeArray is undefined"
I am trying out the latest surveyjs with (Angluar 5, aspnet.core in [Aspnetboilerplate ](http://aspnetboilerplate.com/)template). Below are few issues that pops up which I think is not related to the integration with aspnetboilerplate.

1) When I navigate to the route with the component it loads the editor but in console it says:
"unable to process binding "template: function(){return { name:'obje

[2018-05-17 12:07] tsv2013 commented on #9
It's hard to say what caused this errors without a code.
CKEDITOR it not necessary for SurveyJS Editor. If you took code from this repo, the CKEDITOR is included here as a part of custom widgets demo.

[2018-05-17 12:08] #8 closed

[2018-05-17 12:08] #6 closed

[2018-05-17 16:26] mkgn commented on #9
Well, removing the questions seems to be the only thing that doesn't work. The stack trace is attached.
[surveyjs-error.txt](https://github.com/surveyjs/surveyjs_angular_cli/files/2014007/surveyjs-error.txt)

Any insight to troubleshoot will be much appreciated.

[2018-05-18 05:31] tsv2013 commented on #9
In this stack I found editor code that executes ok on our site in the editor (https://surveyjs.io/Survey/Builder/). But on our site it is not wrapped with Angular. Can you provide a working sample to investigate?

[2018-05-18 08:03] mkgn commented on #9
Ok got it fixed. Nothing wrong with your code or mine. Just changed some configurations.

1) commented out registering the ck-editor.
//SurveyEditor.SurveyPropertyModalEditor.registerCustomWidget("html", CkEditor_ModalEditor );
This is because I don't have the ckeditor plugin at this moment.
This solved: "TypeError: continuousNodeArray is undefined" & "TypeError: this.koSelectedObject(...)" errors

[2018-05-18 08:09] mkgn commented on #9
The problem of saving is that the method signature should be;
    saveMySurvey = (**saveNo, callback**) => {
        console.log(JSON.stringify(this.editor.text));
        //this.surveySaved.emit(JSON.parse(this.editor.text));
    };

If you have;
    saveMySurvey = () => {
        console.log(JSON.stringify(this.editor.text));
        //this.surveySaved.emit(JSON.parse(this.editor.text));
    };

[2018-05-18 09:00] tsv2013 commented on #9
@mkgn I'm doubt a method signature affects method call. I beleive the real cause is another.

[2018-05-21 07:37] mkgn opened #10 "[complete] button event"
Hi,

In the sample; this.editor.saveSurveyFunc gets call whenever the form design changes.
When i test the form at the end of it [complete] button should raise an event as well.

I tried attaching an event to this.editor.saveButtonClick but doesn't work. In the documentation it shows that there is a onComplete method. I couldn't find it in editor instance. Which event should I implement to for the

[2018-05-21 07:47] tsv2013 commented on #10
The [onComplete](https://surveyjs.io/Documentation/Library/?id=surveymodel#onComplete) event belongs to a survey object, not a survey editor.

You can find this event almost in any example on our site:
[code]

This code is taken from this example - https://surveyjs.io/Examples/Library/?id=questiontype-text&platform=Angular2

[2018-05-23 15:00] #10 closed

[2018-05-23 15:01] mkgn commented on #10
Thanks! got it sorted

[2018-05-23 15:05] mkgn commented on #9
There is another strange behavior( I feel) which I cannot explain. If you want you can try it and see whether it happens to you as well.

In survey.editor.component.ts file in the ngOnInit(){

        this.editor.saveSurveyFunc = this.saveMySurvey;
        //this.editor.isAutoSave = true; //move this line above saveSurveyFunc and it won't show the [save] button

}

As I have commented above, if yo

[2018-06-12 17:13] ashygk commented on #2
Having this error on survey.angular.d.ts. I have added types: knockout to tsconfig.app.json

**ERROR in node_modules/survey-angular/survey.angular.d.ts(606,14): error TS2304: Cannot find name 'KnockoutObservable'.
node_modules/survey-angular/survey.angular.d.ts(607,17): error TS2304: Cannot find name 'KnockoutComputed'.
node_modules/survey-angular/survey.angular.d.ts(608,13): error TS2304: Cannot

[2018-06-18 17:43] AquilaH opened #11 "Uncaught TypeError: Cannot read property 'fn' of undefined"
Good Day,

I get an error when I try to run the application and I'm getting difficulty finding a solution to it.

Please image below.

![uncaught typeerror](https://user-images.githubusercontent.com/32176411/41552656-acecf4ee-732f-11e8-8095-6258d604fe08.JPG)

[2018-06-19 08:29] tsv2013 commented on #11
I've checked this repo (clone it, run "npm i", run "ng serve") - it works ok for me.
It looks like in your application jquery is not loaded on your page.

This is described in the readme file:

[2018-06-19 18:41] AquilaH commented on #11
Good Day,

Thank you for this... I followed the solution provided on the link you referenced and was able to get my application to work!!! :)

https://github.com/angular/angular-cli/issues/2129#issuecomment-334701987

[2018-06-19 18:42] #11 closed

[2018-07-02 06:19] BhuvaneshwaranR opened #12 "ERROR TypeError: Unable to process binding "template: function (){return { name:'objecteditorproperty',afterRender:$parent.koAfterRender} }""
while integrating in angular 5 application i'm getting below error , Please help me out to fix this error

**ERROR TypeError:** Unable to process binding "template: function (){return { name:'objecteditorproperty',afterRender:$parent.koAfterRender} }"
Message: Unable to process binding "template: function (){return { name:'propertyeditor-'+ editorTypeTemplate,data:$data.editor} }"
Message: Unable

[2018-07-03 06:47] BhuvaneshwaranR opened #13 "Integration issue on existing angular 5 application - breaks UI"
While integrating surveyJS in existing angular application, it breaks the UI of surveyJS builder and SurveyJS form. I have removed the existing custom style file and recompiled it but nothing works. Please help me out to integrate surveyJS in existing angular 5 application.
![ui breaks](https://user-images.githubusercontent.com/10132578/42202965-f38d5f38-7eba-11e8-8812-cb6f0c9de3a2.png)

[2018-07-03 07:49] tsv2013 commented on #13
It looks like `surveyeditor.css` and `survey.css` styles from the packages haven't been loaded.
You can check the https://github.com/surveyjs/surveyjs_angular_cli/blob/master/.angular-cli.json file:
[code]

[2018-07-03 10:18] BhuvaneshwaranR commented on #13
@tsv2013  It's working now. Thank you :+1:

[2018-08-07 02:42] shahrin014 opened #14 "Cannot find name 'KnockoutObservable'. in survey.angular.d.ts"
I am using this in my ionic3 project.
I installed the necessary packages
[code]

And I updated the typings in my tsconfig.app.json file

However when I build my application, I still find the following error.
[code]

My temporary workaround is to add the following line in survey.angular.d.ts, at line 638
`
import * as ko from 'knockout';
`

But I am hoping for a proper solution.

[2018-08-07 07:45] dmitry-kurmanov commented on #14
@shahrin-14 hello! Could you please check an example: https://github.com/abritopach/ionic-surveyjs created by @abritopach ?

[2018-08-07 07:46] dmitry-kurmanov commented on #12
@BhuvaneshwaranR hello! Sorry for the late response. Do you have the error with this repo(https://github.com/surveyjs/surveyjs_angular_cli) ?

[2018-08-07 07:52] BhuvaneshwaranR commented on #12
@dmitrykurmanov Yes. Can you please check the mentioned error above?

[2018-08-07 07:54] dmitry-kurmanov commented on #12
@BhuvaneshwaranR ok I will clone our repo and will run it from the scratch.

[2018-08-07 08:01] BhuvaneshwaranR commented on #12
@dmitrykurmanov  Thank you.

[2018-08-07 08:04] dmitry-kurmanov commented on #12
@BhuvaneshwaranR I've cloned the repo and ran it. I don't see any errors. May be the problem in your specific code? Could you please share a small example to reproduce the problem?

[2018-08-07 08:05] BhuvaneshwaranR commented on #12
@dmitrykurmanov.I will check and share the code if i get any issue.  One of our client want to integrate surveyJS in their application. We would like to know  features of surveyJS. Is there is any quick support available ?

[2018-08-07 08:15] dmitry-kurmanov commented on #12
@BhuvaneshwaranR you can find all features description on our site:

**builder** overview: https://surveyjs.io/Documentation/Builder/
**library** overview: https://surveyjs.io/Documentation/Library/
also you can find docs and examples there.

As for support SurveyJS project, it supported by full-timed professtional team. Also you can ask your questions in our support center: https://surveyjs.answe

[2018-08-07 08:24] BhuvaneshwaranR commented on #12
@dmitrykurmanov  Thanks for your quick reply. :+1:

[2018-09-11 04:36] edwinborda commented on #2
In src/polyfills.ts add

`import * as ko from 'knockout';
window['knockout'] = ko;`

I worked for me.

[2018-09-11 04:39] edwinborda commented on #14
in src/polyfills.ts add

`import * as ko from 'knockout';
window['knockout'] = ko;`

It worked for me!!

[2018-09-11 10:26] dmitry-kurmanov commented on #14
@edwinborda Hello! Thank you for the suggestion. I've cloned the repo, install all packages and everything works. We are not Angular developers, so may be we missed something. Could you please explain why do we need to add the code above to the repo?

[2018-11-22 01:59] ReneI commented on #1
your application already works? i can see your code?

[2018-11-22 08:35] dmitry-kurmanov commented on #1
@ReneI  Hello! @daitd58 's repo is open source for the moment so you can check it https://github.com/daitd58/surveyApp

[2018-11-30 16:54] ReneI opened #17 "I need to know how to show the answers of my survey in angular I am something new in angular"
I need to work directly with jQuery or it already comes with some directive?

[2018-11-30 18:01] tsv2013 commented on #17
Here is the sample - https://surveyjs.io/Examples/Library/?id=survey-displaymode&platform=Angular2&theme=default

[2018-11-30 18:43] ReneI commented on #17
thanks is difficult manager jquery with angula???

[2018-12-06 02:02] mrjamiebowman commented on #11
Adding it as a polyfill worked for me! Great stuff! Thanks

[2019-03-08 14:53] jonathan-chin commented on #14
I've tried everything, including @edwinborda 's suggestion to edit the polyfills.ts file. Didn't work. I tried cloning and running the repo @dmitrykurmanov link but it failed `npm install`

The only thing that has worked is editing survey.angular.d.ts like @shahrin-14 mentioned.

[2019-03-27 17:22] Satya-Yelamanchili opened #18 "input masking not showing on text input"
Added the phone input masking to the text but the input doesn't show the masking on when try to enter the phone  number. It is happening with all the masking inputs.
![image](https://user-images.githubusercontent.com/29648751/55098301-88f5d800-508b-11e9-9708-55c8e26f74f2.png)

![image](https://user-images.githubusercontent.com/29648751/55098188-564bdf80-508b-11e9-8a77-6bbed3ed74ad.png)

![image](h

[2019-04-21 15:52] bh-adrienne opened #20 "master branch does not install or run using npm/ng"
Running `npm i` gives me this:

$ npm i
npm WARN Invalid version: "1.1"
npm WARN surveyjs_angular_cli No description
npm WARN surveyjs_angular_cli No repository field.
npm WARN surveyjs_angular_cli No README data
npm WARN surveyjs_angular_cli No license field.

up to date in 0.592s
found 0 vulnerabilities

and installs nothing.

[2019-04-21 19:37] nandankanitkar commented on #20
In the package.json file, update  "version": "1.1" as  "version": "1.1.0"
The version should be of the format X.Y.Z as per [semantic versioning](http://semver.org/) .

Also, I executed the below commands (in sequence) to fix angular cli version related errors.

[2019-04-27 17:32] iamfariba opened #21 "error Uncaught Error: Expected 'styles' to be an array of strings."
Hi,
This error happened while loading localhost:4200

Uncaught Error: Expected 'styles' to be an array of strings.
    at assertArrayOfStrings (vendor.js:11541)
    at CompileMetadataResolver.push../node_modules/@angular/compiler/fesm5/compiler.js.CompileMetadataResolver.getNonNormalizedDirectiveMetadata (vendor.js:24993)
    at CompileMetadataResolver.push../node_modules/@angular/compiler/fesm5/c

[2019-04-28 00:35] iamfariba opened #22 "Question, can use survey-knockout, survey-angular and surveyjs-widgets for free?"
Hi,

I would like to ask you  "survey-knockout": "^1.0.20", "survey-angular": "^1.0.20" and "surveyjs-widgets": "^1.0.20" can be used for free?

Thank you

[2019-04-28 20:38] ryanleecode commented on #20
Had to do this as well

ng update @angular/cli --migrate-only --from=1.6.8

[2019-05-07 14:57] keaj-albert opened #23 "Survey not able to rerender after Survey Creator has rendered"
I have a parent component that has two child components. A survey component and a survey-creator component. The parent component has a button to toggle whether the survey component is visible or the survey-creator component is visible (via ngIf).

The problem is that after viewing the survey-creator component and toggling back to the survey component, the survey component doesn't render.

Steps to

[2019-05-07 15:11] tsv2013 commented on #22
Yes, you can use survey-knockout, survey-angular and surveyjs-widgets packages for free. But surveyjs-widgets depends on 3rd party libraries. Please ensure your usage doesn't violate corresponding 3rd party libraries licenses.

[2019-05-07 15:14] tsv2013 commented on #21
This stack trace doesn't contain any SurveyJS Library/Creator code as well as custom code from this repo. I've just checked this repo and it works ok for me.
If you still experiencing troubles with this repo please provide us with exact steps to reprocuce the issue on our side.

[2019-05-07 15:16] tsv2013 commented on #18
Have you set up your survey JSON properly? Please check this sample - https://surveyjs.io/Examples/Library/?id=custom-widget-inputmask&platform=Angular2&theme=default

[2019-05-07 15:18] tsv2013 commented on #23
@dmitrykurmanov Could you take a look?

[2019-05-08 16:31] dmitry-kurmanov commented on #23
@tsv2013 I think we have some problem with the knockout templates reusing.

@keaj-albert  I've prepared a workaround for you, please check this code:

[code]
and I created a PR https://github.com/albertjke/surveyjs-poc/pull/1

[2019-05-08 16:59] keaj-albert commented on #23
@dmitrykurmanov Thanks for taking a look! Workaround is working.

[2019-05-13 12:23] dmitry-kurmanov commented on #23
the problem appears in ko 3.5.0 (3.4.0 works fine)

[2019-05-14 13:45] keaj-albert commented on #23
@dmitrykurmanov Using ko 3.4.0 now and it works as expected. Thanks!

[2019-05-14 13:45] #23 closed

[2019-05-15 04:16] iamfariba opened #24 "my barrating answer is not in result,data"
Hi
I have this barraing type question but in sendData(result) in the app.component.ts , result does not have this question and it's answer, i have 3 questions but result has 2 of them and does not have barrating question and it's answer,
  {
            "type": "barrating",
            "name": "QuestionTwo-Example",
            "ratingTheme": "css-stars",
            "choices": [1, 2, 3, 4, 5]

[2019-05-15 04:26] iamfariba opened #25 "i have sortablelist but i want user select only one thing"
Hi,
i have sortablelist like this in my question, i do not want user drag more than one, how can i put this limitation on it? or is there any other type of question that let user to drag only one thing?
{
            "type": "sortablelist",
            "name": "important-functionality",
            "title": "What is the most important functionality for you?",
            "isRequired": false,

[2019-05-15 11:57] tsv2013 commented on #24
We've checked our oline demo - https://surveyjs.io/Examples/Library/?id=custom-widget-barrating&platform=jQuery&theme=default
And it works ok
Please provide us with the steps to reproduce.

[2019-05-16 03:44] iamfariba commented on #24
for me also was working, but i had a few small changes in app.component.ts and a few other files in app folder,
**i downloaded your code around end of February  2019 when it was with angular5
1-localhost:4200
2-select 5 start for barrating question which has css-starTheme
3-press complete method
4-error is this:
webpack-internal:///./node_modules/@angular/core/esm5/core.js:1665 ERROR RangeError: M

[2019-05-17 02:10] iamfariba opened #26 "error in answer of barrating question with after npm install, cause of survey-angular"
I have this error after click on "complete method"  if i answer to barrating question which is css-star,
ERROR RangeError: Maximum call stack size exceeded
    at QuestionDropdown.Base.getPropertyValueCore (webpack-internal:///./node_modules/survey-angular/survey.angular.js:1502)
    at QuestionDropdown.Base.getPropertyValue (webpack-internal:///./node_modules/survey-angular/survey.angular.js:1495

[2019-05-29 07:23] thaotx opened #27 "Can't build with ng build --prod --build-optimizer=true"
I'm follow README.md to create a simple survey with angular.
But I can't build with ng build --prod --build-optimizer=true.
When I remove  --build-optimizer=true, it runs normally.
Please help to check it.

[2019-05-29 15:42] dk981234 commented on #26
Hello
I' ve checked this case in this repo, and it workes fine. Could you please provide some steps to reproduce  this problem or your project?
Thanks, Dmitriy
SurveyJS Team

[2019-05-30 07:32] tsv2013 commented on #27
I've checked it on my machine, and this command stucks at 30% with no error messages or other useful info. I've googled a bit and found a lot of issues in the angular-cli repo: https://github.com/angular/angular-cli/issues/12989, https://github.com/angular/angular-cli/issues/9779, https://joeonsoftware.com/2018/10/04/stuck-on-92-chunk-optimization-on-angular-production-builds/
It looks like the is

[2019-05-30 10:48] tsv2013 commented on #23
We've fixed the issue. Fix will be available in the nearest update, most likely next tuesday.

[2019-05-30 10:50] tsv2013 commented on #23
We've fixed the issue. Fix will be available in the nearest update, most likely next tuesday.

[2019-06-03 12:41] carstenbaumhoegger commented on #27
I'm also experiencing this issue.
I've used `v1.0.81` before and updated to `v1.0.89`. Building the application is impossible then.
I also looked at the links provided by @tsv2013 but nothing helped.
Reverting to `v1.0.81` resolved this issue for now. I haven't changed Angular CLI etc. so it seems that this is related to `SurveyJS`

[2019-06-03 17:34] iamfariba commented on #26
Hi,

Thank you for your answer,
Is it possible i send you my files? how can i send it?

Thank you

[2019-06-03 17:38] iamfariba opened #29 "Question about sortableList"
Hi,

In "sortablelist" there are two columns on top of each other,
I need to change it to show it like  two columns next to each other,
how can i do it?

Thank you

[2019-06-04 07:51] krasende commented on #27
I'm also experiencing this issue...

Just for the record, `node --max_old_space_size=8192 $(which ng) b --buildOptimizer=true --aot` doesn't help.

[2019-06-04 07:52] dk981234 commented on #26
Hello
Please check our angular.json file in the root of repo. There are configs which  you should include in your project to use barrating question.
Please, try it. If you don't get the result  then  give us the link on the repo with your example.
Thanks, Dmitriy
SurveyJS Team

[2019-06-04 14:58] #29 closed

[2019-06-13 15:47] carlosgoce commented on #27
I migrated from Angular5 to Angular7 and when I tried to build for production it happened to me also.
The build process is stuck on surveyjs. I am on version ~1.0.54 but It's happening on version v1.0.81 too.

[code]

It's there forever.
On Angular5 builds just fine with or without built-optimizer.

[2019-06-20 15:36] CoderCuts commented on #14
My team is still having this issue, has anyone found a more permanent fix?

[2019-06-24 03:47] rkdhanyakula commented on #27
I am facing the same issue when using Angular 7, Any solutions?
![image](https://user-images.githubusercontent.com/8548516/59990455-d2979400-9675-11e9-9710-2ac244427c67.png)

[2019-06-24 09:25] rkdhanyakula commented on #27
Reverting to v1.0.81 resolved this issue for now.

[2019-06-24 11:25] tsv2013 commented on #27
Also discussed  in this thread - https://surveyjs.answerdesk.io/internal/ticket/details/T2222
Builds with 1.0.85
Not builds since 1.0.87
peg.js generated code has been added in 1.0.87

[2019-06-24 12:43] #27 closed

[2019-06-24 12:44] tsv2013 commented on #27
The issue was caused by too much nested `if() {}` conditions in the `peg$parseComparableOperators` autogenerated function. I think ng builder/optimizer need some improvements indeed.
The fix will be available in the nearest update.

[2019-07-10 20:30] thxmike commented on #14
I am still having this same issue with an Angular 8 application. I am trying to import the parts into an existing project I have.
Here are some differences:
I am using a nested module. The app.module to bootstrap the application and a navigation module to load the navigation components
I use routing in the navigation module.

Here is what I did:

npm install -save survey-angular
npm install -save

[2019-07-10 21:46] thxmike commented on #14
After some digging I found this thread
https://github.com/surveyjs/survey-creator/issues/472

It appears there is a problem with version of knockout. I explicitly downgraded the version of knockout with the following command:

npm install knockout@3.4.2 --save

and it prevented any further errors from occurring.

[2019-07-16 08:58] zenithA opened #30 "TS7016 Could not find a declaration file for module surveyjs-wigets"
After installing the library, the import is not possible becuase the missing declaration file (.d.ts).
I have attempted to create one in @types, but might happen that it is still wrongly declared, as for instance elements of type "datepicker" are still not visible
Questions:
1. Is it correct to create a custom d.ts file for the library or there is another better option?
2. If it is, what should th

[2019-07-16 11:01] tsv2013 commented on #30
This sample angular-cli repo also uses surveyjs-widgets package and it builds and runs ok for me.
We're using surveyjs-widgets via the following code:
[code]
Please check this file - https://github.com/surveyjs/surveyjs_angular_cli/blob/master/src/app/survey.component.ts

If you are still experiencing the issue please provide us with a steps to reproduce the issue.

According to the second questio

[2019-07-19 07:38] zenithA commented on #30
The problem is that for an environment configured with the  following:
- typescript - v3.2.4
- survey-angular: 1.0.98
 - surveyjs-widgets: 1.0.98
-  jquery: 3.1.1
- jquery-ui: 1.12.1
- "noImplicitAny": true in tsConfig.json (I can't allow it to be set to false, but even if it is, the widget is still not loaded)
=> I get a ts compile error: `TS7016 Could not find a declaration file for module surve

[2019-07-24 07:46] zenithA opened #31 "Possibility to add validators only for IE11"
Is there any way to add a custom validator in the Json that should be considered only for IE11 but not for the other browsers?

I intent to add a custom validation on date on IE, that (I am not sure about the reason why this happens, as the validator works correctly) seems to be incompatible with Chrome

eg: `{
 "title": "Dato",
 "pages": [
  {
   "name": "page1",
   "elements": [
    {
     "type

[2019-10-07 20:13] wollerman commented on #14
Make sure your tsconfig also has:
[code]

[2019-10-21 06:29] npupiec opened #32 "Custom widget"
Hi
How can I add custom widget (https://next.plnkr.co/edit/fXsLf1R88WxxDFaFEnYx?p=preview&preview) to SurveyJS Creator??

When I import file customwidget.js to my SurveyJS Creator component nothing happend. Thanks

[2019-10-21 08:06] tsv2013 commented on #32
As you can see, custom widget is added automatically after registration:
![image](https://user-images.githubusercontent.com/3013415/67187332-a527e080-f3f2-11e9-96a1-56b68c93ee79.png)

But for the angular version you need to register a custom widget in survey-angular
[code]
and in the survey-knockout (because survey-creator uses the survey-knockout library):
[code]

[2019-10-21 09:16] npupiec commented on #32
@tsv2013 thank you
When I do this I get error in console ERROR TypeError: Cannot read property 'getType' of null

[2019-10-21 09:56] tsv2013 commented on #32
@npupiec  Can you share a sample to reproduce the issue?

[2019-12-11 22:28] GerkinDev commented on #11
To provide *jQuery* in *karma*+*jasmine* tests, add it to the `files` array of your *karma* config (in `karma.conf.js`):

[code]

[2019-12-26 10:14] rishikeshjadhav opened #33 "Angular package (survey-angular) has dependency on knockout? ko not defined"
Getting issue with ko not defined

1. Created empty angular application using Angular CLI
2. Followed steps in README
3. On ng serve getting error with knockout objects "ko undefined"

[2019-12-26 10:20] rishikeshjadhav commented on #33
Once i add the survey-knockout package this error in no more occuring.

Is there a dependency of knockout with survey-angular package?

[2019-12-26 10:47] tsv2013 commented on #33
SurveyJS Creator uses KnockoutJS library

[2019-12-26 11:47] rishikeshjadhav commented on #33
Hi @tsv2013 , Thanks for your quick response.

But i am not using "survey-creator" package, i am using "survey-angular" and "surveyjs-widgets" packages in an angular application.

If i install only "survey-angular" and "surveyjs-widgets" packages i get the error with ko objects, but if i install "survey-knockout" package which internally installs knockout packages this error is not observed.

So i

[2019-12-26 12:13] tsv2013 commented on #33
Yes, survey-angular and survey-widgets don't require KnockoutJS

To be more precise, the survey-angular package based upon the survey-knockout and contains survey-knockout and KnockoutJS library bundled inside. That's why it shouldn't require KnockoutJS.
If it isn't so, most likely we need to fix it.

[2019-12-26 12:20] rishikeshjadhav commented on #33
Yes that is not happening currently.

The knockout dependencies are not getting installed when i install survey-angular package.

I have explicitly added the survey-knockout package and moved ahead.

It will be good to get this fixed.

Thanks for the quick response again.

[2019-12-26 12:31] tsv2013 commented on #33
Note, that is you exactly followed the steps from the readme file of this repo, you added the survey-creator package, that depends on survey-knockout.

[2019-12-26 12:38] rishikeshjadhav commented on #33
No, i am not using creator package as i don't need it.

[2020-01-02 06:50] rishikeshjadhav opened #35 "Ability to set separate display name and stored value in dropdown control"
I am using survey-angular package version 1.1.26

I am trying to use choicesByUrl property for dropdown field to fetch choices from API.

Below is the code snippet for the same,

[code]

I have two dropdowns, 1. Country 2. Region

I want to fetch Region based on selected country

My country and region are stored in below format in backend

Country JSON:
[code]

Region JSON:

[code]

I am correctly

[2020-01-02 08:06] rishikeshjadhav commented on #35
Got this working with below properties under choicesByUrl,

[code]

Closing the issue.

[2020-01-02 08:07] #35 closed

[2020-01-14 08:41] ameruddinjamil opened #36 "Autocomplete custom widget"
Hi Everyone,

I am using survey-js in my project. One of the requirement, I need to use the autocomplete searching in the survey.

I want to create something similar like this
https://www.surveyjs.io/Examples/Library/?id=custom-widget-autocomplete&platform=jQuery&theme=modern

This is my questionnaire json
export const seksyenE = {
  pages: [
    {
      name: 'E',
      elements: [
        {

[2020-04-10 21:08] obaqueiro opened #37 "barebones project running not working (stuck in "Loading..." blank screen)"
I am getting an error while trying to run this example barebones.

Using Angular 7.3.9. After cloning the repository, I am doing:

`npm i`
`ng serve`

The project compiles fine, but when I load localhost:4200 I only get a blank screen with the "Loading..." text, and the JS console says:

`Uncaught TypeError: surveyjs_widgets__WEBPACK_IMPORTED_MODULE_3__.signaturepad is not a function
    at Module

[2020-04-10 21:11] obaqueiro commented on #37
Apparently the widget SignaturePad is not working... as a workaround I removed that, and it worked.

[2020-04-10 21:11] #37 closed

[2020-04-11 05:36] tsv2013 commented on #37
Since 1.5.19 the signaturepad is moved to the core library and not a custom widget

[2020-04-27 05:02] omkark opened #38 "UI gets distorted upgrading survey-angular from 1.0.7 to 1.5.19"
I have upgraded survey-angular and its dependencies survey-knockout and survey-widgets from version 1.0.7 to 1.5.19

While building I was getting knockout issues while compiling. It got fixed by removing types/knockout and installing knockout@3.4.2

On rendering survey, ui is getting disrotted.

eg: jquery datepicker icon placement is distorted. Also could not see background for error messages. Al

[2020-04-27 08:49] tsv2013 commented on #38
I've just checked this repo:
[code]

It loads survey libraries with v1.7.3, build and works ok for me

Can ou provide the exact steps to reproduce the issue?

[2020-04-27 08:50] tsv2013 commented on #36
Can you provide us with a live sample illustrating the issue?

[2020-04-27 09:09] omkark commented on #38
We are using Angular 4.
Previously we were using:
        "survey-angular": "^1.0.7",
        "survey-knockout": "^1.0.7",
        "surveyjs-widgets": "^1.0.7"
All our surveys working as expected. Then we upgraded above libraries to v1.5.19 and getting above issue.

In code, previously bootstrap was injected using cssType. With new library we have to do it using:
      Survey
      .StylesManager

[2020-04-27 09:29] tsv2013 commented on #38
This demo repo works ok. It's hard to say what's wrong with your code. You can compare your code with code from this repo to find what works wrong.

[2020-05-06 10:26] sem1colon opened #39 "Does it work with Angular 6?"
SurveyJS library works only with Angular 7+?
I'm getting type errors for knockout. Is there a supported version for Angular 6?
![image](https://user-images.githubusercontent.com/26898798/81166997-16f00200-8fb2-11ea-8352-64101a7f885a.png)

[2020-05-06 10:31] tsv2013 commented on #39
`survey-angular` library works with Angular 2+

[2020-05-06 10:31] tsv2013 commented on #39
Original discussion is here - https://surveyjs.answerdesk.io/ticket/details/t3976/how-to-fix-knockout-type-errors-for-angular-6

[2020-05-06 12:14] sem1colon commented on #39
That doesn't solve. Any other solution?

[2020-05-06 12:37] tsv2013 commented on #39
@sem1colon You are asking the same question in two places - here and on our portal - https://surveyjs.answerdesk.io/ticket/details/t3976/how-to-fix-knockout-type-errors-for-angular-6

In what place do you prefere to discuss the question?

[2020-05-06 12:55] sem1colon commented on #39
Lol, I thought that two different guys replying to me. Sorry about that.
I'm happy to discuss here because GitHub will have more reach & it will be useful to someone in the future.
By the way, Did you check my [project](https://github.com/sem1colon/SurveyJS-demo-angular6)?

[2020-05-06 12:58] tsv2013 commented on #39
Sure. I'll look into it and write here.

[2020-05-06 13:49] tsv2013 commented on #39
I've checked your project. I've made it work via:
removing the
[code]
and adding the
[code]
in the `package.json` file.

But this is bad indeed, We have other corresponding issue in our answerdesk - https://surveyjs.answerdesk.io/ticket/details/t3116/trying-to-determine-which-version-of-survey-angular-and-associated-libraries-to-use-with

I've moved this task up in our task queue

[2020-05-06 15:27] sem1colon commented on #39
@tsv2013 Thanks for the workaround.
Hope, it will be fixed in the future release.
And, I must appreciate for your quick responses to the inquiry.

[2020-05-07 11:41] tsv2013 commented on #39
I've fixed the issue via the [https://github.com/surveyjs/survey-library/commit/95d6e5c14e95f73505fc5e5d104646bcdb4c4af4][0] commit.
Now `survey.angular.d.ts` file doesn't reference knockoutjs library. Fix will be available in the 1.7.6 update most likely next tuesday. Could you check it on your side?

[0]: https://github.com/surveyjs/survey-library/commit/95d6e5c14e95f73505fc5e5d104646bcdb4c4af4

[2020-05-11 08:54] sem1colon commented on #39
@tsv2013 I've installed both **survey-angular** & **survey-knockout** to the latest (v1.7.5) and checked, still, the type errors are coming.

[2020-05-11 11:05] sem1colon commented on #39
@tsv2013 I am still getting the same type errors.
FYI, I installed both **survey-angular** & **survey-knockout** to the latest version(1.7.5) and installed `@types/knockout` as well.
However, when I checked this on [stackblitz](https://stackblitz.com/github/sem1colon/SurveyJS-demo-angular6), no type errors are coming. But when I tried local, I was getting errors.

[2020-05-12 07:22] tsv2013 commented on #39
@sem1colon If you are using the `survey-angular` library without survey-creator, you needn't to install neither `survey-knockout` nor `@types/knockout` types lbraries. Is it your case?

Your local project can lock reference versions in the `package-lock.json` file. Could you remove this file, remove the `node_modules` folder, reinstall packages via `npm i` and try again?

[2020-05-12 09:39] #39 closed

[2020-07-08 02:23] crsepulv commented on #14
I removed the "@types/knockout" and works: [https://surveyjs.answerdesk.io/ticket/details/t3086/cannot-find-namespace-ko](https://surveyjs.answerdesk.io/ticket/details/t3086/cannot-find-namespace-ko)

[2020-07-08 14:20] mezzo1981 commented on #33
Hi,
@tsv2013 we have now the same problem with "survey-angular": "^1.7.18",

`ERROR in node_modules/survey-angular/survey.angular.d.ts:8:21 - error TS2307: Cannot find module 'knockout' or its corresponding type declarations.`

[2020-07-08 14:38] tsv2013 commented on #33
@mezzo1981 I've fixed it via referenced commit. Fix will be available in 1.7.19

[2020-07-08 14:42] mezzo1981 commented on #33
@tsv2013 wow that was quick

[2020-07-08 21:13] SaraaAwwad opened #41 "Adding custom widget in editor"
**Are you requesting a feature, reporting a bug or ask a question?**
question

**What is the current behavior?**
I want to add a datepicker in the survey editor. So I add a widget to the surveycreator and use it but it results in the error:
Uncaught Error: Unknown component 'svd-property-editor-custom'

**What is the expected behavior?**
I tried the code below in a plunker and it worked fine. Don'

[2020-07-09 11:27] tsv2013 commented on #41
Duplicate for https://github.com/surveyjs/survey-creator/issues/888

[2020-08-12 11:12] vlad-alt opened #43 "On adding new tab to editor I catch en error"
Hi
I integrated survey-creator and survey-angular to my Angular app. For now I want to add my own tab to editor. I use this example https://surveyjs.io/Examples/Survey-Creator?id=tabscustomization&theme=bootstrap#content-js. In .html code I added <script type...> before div where creator will be rendered. And I catch this error. Is it something specific for angular I should to write?
![image](http

[2020-08-12 12:01] vlad-alt commented on #43
Want to add that tab is rendered but questions removed from pages on Designer Mode

[2020-08-12 13:01] tsv2013 commented on #43
This error means that your template hasn't been found. The template id is wrong or the script block with the template down't exist in the page.

[2020-08-12 13:06] vlad-alt commented on #43
@tsv2013 thanks for answer. May be angular modal window doesn't see <script> tags.

[2020-08-12 13:08] tsv2013 commented on #43
@vlad-alt  don't think so. Most likely it's a typo. You can run "document.getElementById("your_id")" in console to check whether it exists

[2020-08-12 13:12] vlad-alt commented on #43
@tsv2013 I run this at Chrome Console, than add it to setInterval to wait for this script loaded. In both cases it is null.

[2020-08-12 13:24] vlad-alt commented on #43
@tsv2013 don't worry, I thought I didn't write something important that's why it doesn't work. I try to find another way to do this. Thanks a lot.

[2020-08-20 15:56] alkgreer opened #46 "Unable to Run Project"
I have tried to download and install and then serve the project as is and it runs into the Schema validation error shown below

![image](https://user-images.githubusercontent.com/26122765/90794912-05b5d180-e2d3-11ea-8c39-beffb23e023c.png)

Then i try to upgrade everything and then run it  and i get a memory error as shown below

![image](https://user-images.githubusercontent.com/26122765/90795051-

[2020-08-21 07:54] #33 closed

[2020-08-21 07:55] #12 closed

[2020-08-21 07:56] #13 closed

[2020-08-21 07:56] #14 closed

[2020-08-21 07:56] #21 closed

[2020-08-21 07:57] #22 closed

[2020-08-21 07:57] #32 closed

[2020-08-21 07:58] #38 closed

[2020-08-21 07:58] #36 closed

[2020-08-21 07:58] #41 closed

[2020-08-21 07:59] #18 closed

[2020-08-21 10:25] dmitry-kurmanov commented on #46
I've tried to clone and run the project and it works ok for me. Here the commands I used:

[code]

Also could you please specify what version of nodejs do you currently use? (mine is 10.17.0)

_By the way we should update the [Readme](https://github.com/surveyjs/surveyjs_angular_cli/blob/master/README.md) ._

[2020-08-23 17:54] alkrobinson commented on #46
ok there is a difference between ng serve and npm start.

On Fri, Aug 21, 2020 at 5:25 AM Dmitry Kurmanov <notifications@github.com>
wrote:

[2020-08-24 07:05] dmitry-kurmanov commented on #46
in fact there is no difference because `npm start` calls `ng serve`. Please check the package.json scripts section:

[code]

[2020-08-24 07:05] #46 closed

[2020-09-07 11:07] RRobbins94 opened #47 "Quickstart boilerplate ResultsTable page throwing error"
The Results Table page seems to be broken. I'm getting this error console in one of the pages of the boilerplate:
![image](https://user-images.githubusercontent.com/31695796/92381325-8a418600-f102-11ea-8311-39b55bd68362.png)

Note that the Results Table (IE support) is working as expected

[2020-09-07 18:00] dk981234 commented on #47
Hello,
We've fixed the issue via this [commit](https://github.com/surveyjs/survey-analytics/commit/d633987cdf500163cac41e1a7612d7af1425d812). You can fix your project by adding  tabulator-tables: 4.7.2 in your package.json.

Thanks,
Dmitry
SurveyJS Team

[2020-09-21 02:42] yzhou677 opened #49 "Survey logic doesn't work well on the sortable question"
We are using survey creator in our product and we tested to set a question's visibility based on the order of the answers to the sortable question. But the question which was set to invisible always shows up no matter which order we answered in the test survey.
![image](https://user-images.githubusercontent.com/24285097/93729449-1c796d80-fb8a-11ea-8627-a25bd816a540.png)

[2020-09-21 07:30] tsv2013 commented on #49
If you have a developer license you can ask your question about SurveyJS Creator here - https://surveyjs.answerdesk.io/

[2021-01-26 16:25] nolafs opened #51 "'SurveyPropertyEditorBase' incorrectly implements interface 'ILocalizableOwner'."
Why i am getting this error?

Error: node_modules/surveyjs-editor/surveyeditor.d.ts:1327:22 - error TS2420: Class 'SurveyPropertyEditorBase' incorrectly implements interface 'ILocalizableOwner'.
  Property 'getRenderer' is missing in type 'SurveyPropertyEditorBase' but required in type 'ILocalizableOwner'.

1327 export declare class SurveyPropertyEditorBase implements Survey.ILocalizableOwner {
[c

[2021-01-26 21:12] carolcarpenter commented on #33
Survey JavaScript library v1.8.26 is requiring knockout. Is there a fix for this?

[2021-01-27 16:54] ghost commented on #33
It looks like this issue is occurring again in the latest release... Survey JavaScript library v1.8.26. It is requiring knockout. Is there a fix for this on the way? Thanks!
@tsv2013

[2021-01-27 21:13] cbc872 opened #52 "Angular package (survey-angular) should not have a dependency on knockout"
Regarding Issue: Angular package (survey-angular) has dependency on knockout? ko not defined **#33**

It looks like this issue is occurring again in the latest release... Survey JavaScript library v1.8.26. It is requiring knockout. Is there a fix for this on the way?

[2021-01-28 17:40] tsv2013 commented on #51
Most likely you need to re-install node modules in your project

[2021-01-28 17:40] tsv2013 commented on #52
Thank you for the report. We're working on the fix and update this thread as soon as we'll have any results.

[2021-02-03 06:54] tsv2013 commented on #52
I've added check in our build pipeline.
+ Temporary fixed typings

Good fix will be after ActionBar/Popup/List models will be implemented in platform-independent way

[2021-02-03 06:54] #52 closed

[2021-02-22 10:24] varundhariyal opened #53 "Update boilerplate to support jspdf's recent updates. Unable to serve the app."
Please look into the issue
jspdf recent versions have modified dist structure.

Update code or provide jspdf'version version in package.json.

![Screenshot from 2021-02-22 15-49-15](https://user-images.githubusercontent.com/28480232/108695021-cf793900-7525-11eb-9792-4b87f4ed0499.png)

[2021-03-01 12:08] gchovanyecz commented on #51
@nolafs install survey-knockout package too as dependency at the same version than the survey-creator it will fix it.
Btw the core problem is survey-creator owns the survey-knockout as dependency but it has ^version lock, witch means for npm it can upgrade the minor versions too. So the installed creator version will lower than the knockout version.

[2021-06-11 15:18] gologames opened #61 "Add frequent mistakes section in repository README"
Add information about proper import of local files/libraries in Angular application

More information in [this ticket](https://surveyjs.answerdesk.io/ticket/details/t7093/export-to-pdf-pdf-is-blank):

[2021-06-24 10:58] apurv195 commented on #51
@nolafs i have uninstall **survey-knockout** & install same version as **survey-creator**, like
`"survey-creator": "^1.7.20", "survey-knockout": "^1.7.20",`
**it works for me**

[2021-10-25 23:58] pj-alvarado10 commented on #30
It is a difficult problem, a fast solution is create the d.ts file in @types like you do it, but we can declare the next module to allow any types:

[code]

about the datepicker, I don't know yet.

[2022-10-27 13:37] otebos opened #66 "Is survey-angular-ui stable?"
Hi,
I've been using survey-angular in my project for few months and just found out survey-angular-ui.
It's great you are making this angular-based version!

Question: is it fully functional and stable like survey-angular and I can think of migration?
Or should wait few months?

Regards,
o.

[2022-10-28 08:54] JaneSjs commented on #66
Hello,
Yes, we released an early version of Survey Creator V2 for Angular. We are continue making some slight final API changes.
For now, you can built a demo app using the [survey-creator-angular](https://www.npmjs.com/package/survey-creator-angular) package and try our Survey Creator for Angular.

Should you encounter any issues, please feel free to contact us.

[2022-10-28 11:33] otebos commented on #66
Hi,
I switched today and everything seems to work so thank you and great job 👍

[2022-10-28 11:33] #66 closed

[2022-11-02 08:00] dk981234 commented on #66
Hello,

We have changed some APIs according to this issue: https://github.com/surveyjs/survey-creator/issues/3623 from version 1.9.56. We have updated the example.

Thanks,
Dmitry
SurveyJS Team